
<%= provide(:title, "My learnt words") %>
<div class="container">
  <div class="row d-flex justity-content-center mt-5">
    <div class="col-md-8">
      <div class="card border-bottom-primary mb-3">
        <div class="card-header bg-transparent border-primary">
          <h2 class="h2">Words List</h2>
        </div>
        <div class="card-body">
          <div class="row">
            <% @words.each do |word| %>
              <div class="col-12">
                <div class="card mt-1">
                  <div class="card-body">
                    <div class="row d-flex">
                      <div class="col-sm-6">
                        <p class="card-title text-info d-inline"><%= word.diction %></p>
                        <p class="d-inline"><%= word.mean %></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
    </div>
    <div>
      <div class="card border-bottom-success mb-3">
        <div class="card-header bg-transparent border-success">
          <h2 class="h2">Filter & Search</h2>
        </div>
        <div class="card-body">
          <form class="form" id="searchAndFilterForm" method="GET">
            <input type="text" name="page" value="1" hidden>
            <div class="form-group">
              <label class="" for="search_key">Search</label>
              <input type="text" class="form-control" id="search_key" name="search_key" value="<%= @search_key %>" placeholder="For example: juxtaposition">
            </div>
            <div class="form-group">
              <button id="search" class="btn btn-primary mb-2">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
